page-hello-ionic {

}

.card-header{
	font-weight: bold;
	background-color: #f5f5f5;
	text-align: center;
}

.card-footer{
	font-weight: bold;
	background-color: #f5f5f5;
	text-align: right;
}

.income{
		background-color: #80FF80;
		color: green;
}
.expense{
		background-color: danger;
}
