page-hello-ionic {

}

.card-header{
	font-weight: bold;
	background-color: #f5f5f5;
	text-align: center;
}

.card-footer{
	font-weight: bold;
	background-color: #f5f5f5;
	text-align: right;
}

.balance-color-red{
	color: #f53d3d;
}

.balance-color-green{
	color: map-get($colors,danger);
}

.income{
		background-color: #80FF80;
		color: map-get($colors,green);
}

.expense{
		background-color: danger;
}

.btt-add-income{
	padding-top: 8px;
}
